#Configuration info
[Project Info]
    Project = 21623

[OemCommonCapbility]
    ForceSensorFps = 1
    SatTeleDisable = 1
    ArcsoftEisEnable = 1
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399
    SupportDualScene = 1
    OemAddMaxFps = TRUE
    SkipFirstFrameInNVMode = TRUE
    SkipFirstFrameInMacroMode = TRUE
    isUsedArcSoftInAinight = TRUE
    isUsedZSLPreviewBPSRaw = TRUE
    isUsedMipiRaw = FALSE
    isMFNRCHDNoSupported = TRUE
    isEnableMedasPower = FALSE
    isNeedNCS = TRUE
    ForceRearCommonModeSetting1 = TRUE
    ForceFrontCommonModeSetting1 = TRUE
    isWriteCalibrationDataToEeprom = FALSE
    HDR4SnapshotSupported = TRUE
    MFNRCHDRSingleCamSupported = TRUE
    SkipPortaitHDRPreviewFrames = TRUE
    UseOdmDistortionParams = TRUE
    RTBayer2YUVFeatureSupport = TRUE
    LimitMinHALFpsRange = 15
    isSuperNightPro = TRUE
    DisableCtsDualCameraTest = TRUE
    FixedRawSensitivityBoost = TRUE
    isSuperNightProCropCut = TRUE
    isRectifyFDCount = TRUE
    isPrimaryCommonSetting = TRUE
    isNotSupportScalingSetting = TRUE
    isSupportHDRSkipEV0Preivew = TRUE
    IsSuperNightProDropFrame = TRUE
    skipForFTMMode = TRUE
    isNeedTestPatternTestPureBlack = TRUE
    isFrontSkipPreivew = TRUE
    ProNightEvSen = TRUE
    isPostProcR2Y = TRUE
    isSkip4SuperNight = TRUE
    isForceSet4KvideoDataSpace = TRUE

[SelbladCamera]
    isHasselbladCamera = FALSE
    isSupportExplorer = FALSE
    backCamSize = 64MP+8MP+2MP
    frontCamSize = 16MP

[ColorSensor]
    IsColorSensorFrontSupported = false

[Flickersensor]
    IsFlickerSensorFrontSupported = false

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

[OemMaxHalRequests]
    slowVideoMaxHalRequests = 10

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 5
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMono1CameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SmoothZoom]
    enableSmoothZoom              = true
    enforceOpenWideZoomValueRight = 5.1
    isDivideZoomRatio             = true

[DivideZoomRatio]
    pointZoomRatio              = 0.6;    1.0;    2.0;    5.0
    scaleThresholdRatioRange    = 0.5;    2.1;    2.1;    5.1;    5.1;    20.1
    pointScaleRatioThreshold    =     0.12;           0.15;           0.25
    commonScaleRatioThreshold   =     0.20;           0.20;           0.30
    pauseFrameNum               = 0

[SingleMono1CameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono1CameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 17

[SingleMono1CameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[4]  = 1; 0

[UsecaseMatching]
    isSatNightUseMipiRaw = 0
    dolHdrSupporttedSensor = imx766_riven
    isUsageMatching = 1
    OpmodeFilters = 0x802C
    DisablePreviewNode = 0x8021; 0x800b; 0x8028
    engmodeFrontRemosaicSFR = TRUE
    UsecaseEngmodeRemosaicSFR = true
    StabilizationCameraList = 2; 3
    SuperEISUseNormal = TRUE

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8001]   = 5;    23;    24;
    Operation[0x8019]   = 5;    23;    24;
    Common              = 5;    23;    24;

[MultiCameraMFNRBokehSuperGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8011]   = 5;    23;    24;

[MultiCameraHDRGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8011]   =       23;    24;

[VirtualSuperGraph]
    #ChiFeature2Type     HDR  Yuv2Yuv  DEMUX  RawHDR  Serializer RealTimeSerializer Y2YPostMFSR  MFSR AnchorSync FormatConvertor
    Camera[0]           = 5;    23;    24;
    Camera[1]           = 5;    23;    24;
    Camera[4]           = 5;    23;    24;

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    idealRawEnable = TRUE
    frontidealRawEnable = FALSE

[EISNode]
    isOisSupported   = 0
    #EISTuningSensorMode   cameraId  captureMode   sensorMode
    EISTuningIndex   =       0;        0x8028;         5;         2;0x8028;1;   1;0x802B;1

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask    feature_mask
    Mode[0]      =     0x800B;      0x008D;         0x0000         #COMMON VIDEO + SAT
    Mode[1]      =     0x800C;      0x000D;         0x0000         #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF;         0x0080         #60FPS VIDEO
    Mode[3]      =     0x802B;      0xFFFF;         0x0000         #FRONT EIS VIDE
    Mode[4]      =     0x802C;      0x0001;         0x0000         #DualScene VIDEO
    Mode[5]      =     0x8031;      0x0020;         0x0000         #UNKNOWN
    Mode[6]      =     0x80A1;      0xFFFF;         0x0000         #HDR VIDEO
    Mode[7]      =     0x80A2;      0xFFFF;         0x0000         #NIHGT VIDEO
    Mode[8]      =     0x80A4;      0xFFFF;         0x0000         #MOVIE EIS
    Mode[9]      =     0x80A7;      0x0001;         0x0000         #EnhanceVideo REAR EIS
    Mode[10]     =     0x8028;      0x0005;         0x0000         #SUPER EIS

[LaserFlicker]
    IsLaserFlickerSupported = FALSE

[SecureCamera]
    #exportSecureCamera     TRUE FLASE
    exportSecureCameraFlag = TRUE



[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3
    #MultiCameraList  = 4
    BokehCameraList  = 4

[QuickSnapshotMatching]
    #logicalCameraId            REAR  FRONT  MACRO
    QuickSnapshotCameraIdList = 0;    1;     3;
    IgnoreZoomValue           = TRUE

[SensorQCFAModeAcquireIntervalUs]
    imx471 = 55000

[HDR4Snapshot]
    HDRstoreFrame = 2
    HDRreprocessFrame = 4
    UnSupportCamId = 1

[ThirdAppCamRatioSensorSettingMap]
    #                              setting index
    SENSOR_BININGSIZE30FPS     =       11

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.android.cts.verifier[0]        =   -1;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[1]        =    1;     15;    -1;      -1;         -1;            1
    com.tencent.mm[0]                  =    1;     30;    -1;      -1;         -1;            1
    com.tencent.mobileqq[0]            =    1;     15;    -1;      -1;         -1;            1
    com.tencent.wemeet.app[0]          =    1;     -1;    -1;      -1;         -1;            1
    org.codeaurora.ims[0]              =    1;     -1;    -1;      -1;         -1;            1
    com.kuaishou.nebula[0]             =    1;     15;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme.lite[0]   =    1;     15;    -1;      -1;         -1;            1
    com.google.ar.infrastructure.compliance.imagequality[0] =  0;  -1;  -1;  -1;  -1;         1
    com.lemon.faceu[0]                 =   -1;     -1;    -1;      -1;         -1;            1
    com.campmobile.snowcamera[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.hupu.shihuo[0]                 =    0;     -1;    -1;      -1;         -1;            11
    com.google.ar.core.examples.java.computervision[0] = 0;-1;-1;  -1;         -1;            10
    com.google.ar.infrastructure.compliance.e2ecert[0] = 0;-1;-1;  -1;         -1;            1
    autotest.oppo.com.simulatedlivebroadcast[0] =  0; -1; -1;      -1;         -1;            6
    com.linkedin.android[0]            =    0;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[0]        =    1;     30;    -1;      -1;         -1;            6
    com.snapchat.android[0]            =    0;     -1;    -1;      -1;         -1;            6
    com.zhiliaoapp.musically[0]        =    0;     -1;    -1;      -1;         -1;            6
    com.facebook.orca[0]               =    0;     -1;    -1;      -1;         -1;            6
    com.facebook.katana[0]             =    0;     -1;    -1;      -1;         -1;            6
    com.instagram.android[0]           =    0;     -1;    -1;      -1;         -1;            6
    com.whatsapp[0]                    =    0;     -1;    -1;      -1;         -1;            11
    org.codeaurora.ims[0]              =    0;     -1;    -1;      -1;         -1;            6

[SetFwkRDIStream]
    isNeeded = false

[CtsCamSensorSettingMap]
    #                  cts_mode         sensor_mask   index
    Mode[0]        =    0x0001;            0x0001;       1;

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 1; 0; 0; 1;
    custom.raw.size.QCFA          = 1; 0; 0; 0; 1;

[MemGroupConfig]
    EnableIonRecycle = 1;    # IonRecycle 0:disable(def)  1:enable
    RecycleBuffSize  = 4;    # IonRecyclebuffer size(N * 10M)

[AFCapbility]
   IsDepthBasedFocus = 1;
   disableAFRoleSwitch = 1;
   forceMasterCameraId = 0;

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     1;                 -1;                -1;               0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 -1;               -1       #BIVCM upperBound

[ExtentSensorClks]
    #ExtentClksFlag     TRUE FALSE
    ExtentClksFlag = TRUE

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    idealRawEnable = TRUE
    DisableResetCropInfoForCameraId = 2

[SensorAggregationsForSATPhotoMode]
    numSensorAggregations   = 9
    zoomRange               =  0.6; 1.0;    0.6; 1.0;    1.0; 2.0;    1.0; 2.0;    1.0; 2.0;    1.4; 2.0;    2.0; 10.1;    2.0; 10.1;    2.0; 10.1
    activeMap               =      1;           3;           2;           3;           3;           6;           4;            6;            6
    allowAFFallback         =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;        FALSE;        FALSE
    allowLuxFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    fallbacked              =    FALSE;       FALSE;       FALSE;       FALSE;       TRUE;        FALSE;       FALSE;        FALSE;        TRUE
    master                  =      0;           0;           1;           1;           0;           1;           2;            2;            1
    recommendedMaster       =      0;           0;           1;           0;           0;           1;           2;            1;            1
    recommendedActiveState  =      1;           3;           3;           3;           3;           3;           6;            6;            6

[sensorAggregationsForSATNightMode]
    numSensorAggregations   = 3
    zoomRange               =  2.0; 10.1;   2.0; 10.1;   2.0; 10.1
    activeMap               =      4;           6;           6
    allowAFFallback         =    TRUE;        TRUE;        TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE
    allowLuxFallback        =    TRUE;        TRUE;        TRUE
    fallbacked              =    FALSE;       FALSE;       TRUE
    master                  =      2;           2;           1
    recommendedMaster       =      2;           1;           1
    recommendedActiveState  =      6;           6;           6

[sensorAggregationsForSATVideoMode]
    numSensorAggregations   = 1
    zoomRange               =   2.0; 10.1
    activeMap               =      4
    allowAFFallback         =    FALSE
    allowTOFFallback        =    FALSE
    allowLuxFallback        =    FALSE
    fallbacked              =    FALSE
    master                  =      2
    recommendedMaster       =      2
    recommendedActiveState  =      6

[fallbackDetectThreshs]
    #luxFallback                   FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh    lowLightLowerThresh
    luxThreshsForSATMode       =             420;                              390;                        505;                    485
    luxThreshsForSATNightMode  =             400;                              370;                        500;                    480
    luxThreshsForSATVideoMode  =             420;                              390;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATMode        =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0

[ActuatorConfig]
    ParkLensDelayTime = 1000

[OemCamxSettings]
    #Enable/Disable HW Sync for RTB
    disablePDLibLCR = 0
    enableTOFInterface = 0
    multiCameraJPEG = 0
    multiCameraHWSyncMask = 1
    numPCRsBeforeStreamOn = 1
    #Enable/Disable Multi Camera framework kernel frame sync
    multiCameraFrameSync  = 1
    maxHalRequests = 7
    numChiThread = 10
    FDPreprocessing = 2
    enable3ADebugData = FALSE

###BokehConfigureInformation begin
[BokehConfigureInformation]
    RearBokehImgSizeList[hi846 x ov64b]           = 4624; 3468; 2304; 1728
    RWMCaliSize = 4096
    RWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/mtStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/mtStereoParams_aftersale.bin
###BokehConfigureInformation end

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           3  #COMMON REAR
    Mode[1]         =     0x8001;            0x0001;            0x0020;           -1  #COMMON REAR
    Mode[2]         =     0x8001;            0x0004;            0x0000;           0  #COMMON REAR_AUX
    Mode[3]         =     0x8002;            0x0001;            0x0000;           3  #COMMON REAR_AUX
    Mode[4]         =     0x800B;            0x0001;            0x0000;           6  #COMMON VIDEO
    Mode[5]         =     0x800B;            0x0004;            0x000C;           0  #COMMON VIDEO SAT REAR_AUX
    Mode[6]         =     0x8011;            0x0001;            0x0000;           2  #FULL PORTRAIT REAR
    Mode[7]         =     0x8011;            0x0004;            0x0000;           5  #FULL PORTRAIT REAR_AUX
    Mode[8]         =     0x8009;            0x0001;            0x0000;           1  #Professional REAR
    Mode[9]         =     0x8009;            0x0004;            0x0000;           0  #Professional REAR_AUX
    Mode[10]        =     0x8007;            0x0001;            0x0000;           1  #Panorama REAR
    Mode[11]        =     0x8019;            0x0001;            0x0000;           1  #SN SAT REAR
    Mode[12]        =     0x8019;            0x0004;            0x0000;           0  #SN SAT REAR_AUX
    Mode[13]        =     0x8028;            0x0004;            0x0000;           0  #SUPER EIS REAR_AUX
    Mode[14]        =     0x8028;            0x0001;            0x0000;           5  #SUPER EIS REAR
    Mode[15]        =     0x800C;            0x0001;            0x0000;           6  #FastVideo EIS SAT REAR
    Mode[16]        =     0x800C;            0x0004;            0x000C;           0  #FastVideo EIS SAT REAR_AUX
    Mode[17]        =     0x800B;            0x0002;            0x0000;           1  #COMMON VIDEO FRONT
    Mode[18]        =     0x800B;            0x0004;            0x0008;           0  #COMMON VIDEO BOKEH REAR_AUX
    Mode[19]        =     0x80A6;            0x0004;            0x0000;           3  #SUPER MACRO
    Mode[20]        =     0x80A8;            0x0001;            0x0000;           1  #STAR MODE  REAR
    Mode[21]        =     0x80A5;            0x0001;            0x0000;           6  #FAST Motion VIDEO
    Mode[22]        =     0x80A5;            0x0004;            0x0000;           1  #FAST Motion VIDEO WIDE
    Mode[23]        =     0x802C;            0x0001;            0x0000;           6  #DualScene VIDEO REAR
    Mode[24]        =     0x802C;            0x0002;            0x0000;           1  #DualScene VIDEO FRONT
    Mode[25]        =     0x80A3;            0x0001;            0x0000;           6  #MOVIE VIDEO
    Mode[26]        =     0x80A3;            0x0004;            0x0000;           0  #MOVIE VIDEO WIDE
    Mode[27]        =     0x80A4;            0x0001;            0x0000;           6  #MOVIE VIDEO EIS
    Mode[28]        =     0x80A4;            0x0004;            0x0000;           0  #MOVIE VIDEO EIS WIDE
    Mode[29]        =     0x8021;            0x0001;            0x0000;           7  #60FPS VIDEO non 4K REAR
    Mode[30]        =     0x80A7;            0x0001;            0x0000;           6  #60FPS VIDEO non 4K REAR

[AECCapbility]
    #OemCamAECControlVendorID  0:OPPO, 1:realme
    OemCamAECControlVendorID = 1
    #OemLightIntensityAssitAEC  enable   samplingRate   reportRate
    OemLightIntensityAssitAEC =   0;         104;          10000


[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       0;
    Mode[1]        =      0x0;            0x0001;        0x0000;       1;
    Mode[2]        =      0x0;            0x0002;        0x0000;       1;
    Mode[3]        =      0x0;            0x0001;        0x0010;       1;
    Mode[4]        =      0x802a;         0x0001;        0x0000;       1;
    Mode[5]        =      0x9001;         0x0001;        0x0000;       1;
    Mode[6]        =      0x9001;         0x0004;        0x0000;       5;
    Mode[7]        =      0x802a;         0x0002;        0x0000;       0;

[OemPDAFCalib]
    isOemPDAFCalib = FALSE

[SmartPoolMatching]
    #Mode            captureMode  sensor_mask
    Mode[0]      =     0x8001;      0xFFFF       #COMMON MODE
    Mode[1]      =     0x800B;      0xFFFF       #COMMON VIDEO MODE
    Mode[2]      =     0x800C;      0xFFFF       #FAST VIDEO MODE
    Mode[3]      =     0x800D;      0xFFFF       #SLOW VIDEO MODE
    Mode[4]      =     0x8021;      0xFFFF       #60FPS VIDEO MODE

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30 ;
    OemFpsRange[1] =        15 ;          15;
    OemFpsRange[2] =        15 ;          20;
    OemFpsRange[3] =        20 ;          20;
    OemFpsRange[4] =        30 ;          30;

[PerfSceneMatching]
    #operation mode     operation_mode     sensor_mask        feature_mask         value
    Mode[0]         =     0x8028;            0xFFFF;           0x0000;              42         #commonVideo Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[1]         =     0x80A5;            0xFFFF;           0x0000;              42         #FastMotionVideo Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[2]         =     0x80A4;            0xFFFF;           0x0000;              39         #Movie video Mode-PERF_ID_CAMERA_VIDEO_HFR_720P
    Mode[3]         =     0x80A3;            0xFFFF;           0x0000;              39         #Movie video Mode-PERF_ID_CAMERA_VIDEO_HFR_720P
    Mode[4]         =     0x800E;            0x0001;           0x0000;              52         #Stiker video Mode-PERF_ID_CAMERA_STIKER_RECORD
    Mode[5]         =     0x80A7;            0x0001;           0x0000;              44         #EnhanceVideo Mode-PERF_ID_CAMERA_VIDEO_SUPER_EIS_60FPS
    Mode[6]         =     0x800B;            0x0001;           0x0001;              42         #COMMON 4k VIDEO Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[7]         =     0x8028;            0x0001;           0x0000;              42         #SUPER EIS Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[8]         =     0x800C;            0xFFFF;           0x0000;              39         #TiltShift & FastVideo Mode-PERF_ID_CAMERA_VIDEO_HFR_720P
    Mode[9]         =     0x802C;            0xFFFF;           0x0000;              42         #DualScene Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[10]        =     0x802B;            0xFFFF;           0x0000;              52         #FRONT EIS Mode-PERF_ID_CAMERA_VIDEO_PREVIEW_30FPS
    Mode[11]        =     0x8019;            0xFFFF;           0x0000;              54         #SUPER NIGHT Mode-PERF_ID_CAMERA_VIDEO_PREVIEW_30FPS
    Mode[12]        =     0x800D;            0xFFFF;           0x0000;              42         #SlowMotion Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[13]        =     0x8021;            0xFFFF;           0x0000;              42         #60FPS Video Mode-PERF_ID_CAMERA_VIDEO_FHD60

[ThirdAppPerfSceneMatching]
    #                                   camera id  FPS    width    height  operation mode   value
    com.tencent.mm[0]                  =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mm[1]                  =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mobileqq[0]            =     0;     30;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mobileqq[1]            =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[0]              =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[1]              =    -1;     30;    -1;      -1;         -1;            58         #commonVideo Mode-PERF_ID_CAMERA_VIDEO_GIFMAKER_REAR
    com.whatsapp[0]                    =     1;     -1;   640;     480;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.kuaishou.nebula[0]             =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.ss.android.ugc.aweme.lite[0]   =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.lemon.faceu[0]                 =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.mt.mtxx.mtxx[0]                =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.campmobile.snowcamera[0]       =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER

[ProfessionModeSetParam]
    # APP set ISO and exposureTime value range
    #                          ISO_min    ISO_max    S_min    S_max
      ISOAndExposureTimeRange =  100;       6400;      125000;  32000000

[PackageNameOfSpecialCase]
    IsNeedFaceBeauty        = com.tencent.mm; com.tencent.mobileqq; com.alibaba.android.rimet; com.tencent.wemeet.app; com.tencent.wework; us.zoom.videomeetings; com.heytap.speechassist; com.oplus.ai.assistant.extend; com.ss.android.ugc.aweme; com.smile.gifmaker

[SupportedImageSizes]
#                    width  height
    ImageSizes[0]  =  9248;   6936
    ImageSizes[1]  =  8000;   6000
    ImageSizes[2]  =  8000;   3600
    ImageSizes[3]  =  7680;   4320
    ImageSizes[4]  =  6000;   6000
    ImageSizes[5]  =  4624;   3468
    ImageSizes[6]  =  4624;   2608
    ImageSizes[7]  =  4624;   2080
    ImageSizes[8]  =  4608;   3456
    ImageSizes[9]  =  4608;   2592
    ImageSizes[10] =  4608;   2080
    ImageSizes[11] =  4000;   3000
    ImageSizes[12] =  4000;   2250
    ImageSizes[13] =  4000;   1818
    ImageSizes[14] =  4000;   1800
    ImageSizes[15] =  3840;   2160
    ImageSizes[16] =  3840;   1644
    ImageSizes[17] =  3468;   3468
    ImageSizes[18] =  3456;   3456
    ImageSizes[19] =  3456;   2592
    ImageSizes[20] =  3264;   2448
    ImageSizes[21] =  3264;   1836
    ImageSizes[22] =  3264;   1472
    ImageSizes[23] =  3200;   2400
    ImageSizes[24] =  3200;   1440
    ImageSizes[25] =  3000;   3000
    ImageSizes[26] =  2592;   1944
    ImageSizes[27] =  2520;   1080
    ImageSizes[28] =  2448;   2448
    ImageSizes[29] =  2400;   1080
    ImageSizes[30] =  2328;   1746
    ImageSizes[31] =  2328;   1748
    ImageSizes[32] =  2592;   1168
    ImageSizes[33] =  2304;   1728
    ImageSizes[34] =  2304;   1296
    ImageSizes[35] =  2304;   1046
    ImageSizes[36] =  2160;   1080
    ImageSizes[37] =  1944;   1944
    ImageSizes[38] =  1920;   1440
    ImageSizes[39] =  1920;   1080
    ImageSizes[40] =  1920;    864
    ImageSizes[41] =  1600;   1200
    ImageSizes[42] =  1600;    800
    ImageSizes[43] =  1600;    720
    ImageSizes[44] =  1584;    720
    ImageSizes[45] =  1440;   1080
    ImageSizes[46] =  1280;    960
    ImageSizes[47] =  1280;    768
    ImageSizes[48] =  1024;    768
    ImageSizes[49] =  1280;    720
    ImageSizes[50] =  1200;   1200
    ImageSizes[51] =  1188;    540
    ImageSizes[52] =  1200;    540
    ImageSizes[53] =  1080;   1080
    ImageSizes[54] =   960;   1080
    ImageSizes[55] =   960;    960
    ImageSizes[56] =   960;    720
    ImageSizes[57] =   800;    400
    ImageSizes[58] =   792;    360
    ImageSizes[59] =   720;    540
    ImageSizes[60] =   720;    480
    ImageSizes[61] =   640;    640
    ImageSizes[62] =   640;    480
    ImageSizes[63] =   352;    288
    ImageSizes[64] =   320;    240
    ImageSizes[65] =   176;    144

[IPENode]
    #                         left  top  width  heith
    CropWindowForSuperPhoto =  0;   0;  9248;  6936
    # DisableResetCropInfoForNightMode: TRIPOD(1), HAND(2 3 4), DARKSIGHT(5), FRONTNIGHT(6)
    DisableResetCropInfoForNightMode = 2; 3; 4; 5; 6; 9

[OrmsConfig]
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = false
    UseOrmsSenceForThirdApp = true

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x8019;            0x0020;
    Mode[5]        =      0x8011;            0x0002;
    Mode[6]        =      0x802B;            0x0002;
    Mode[7]        =      0x8002;            0x0002;

[FDManager]
    IsDefaultAsyncFdInit = true

[OemFDSelect]
    Is3rdApkUsePlatformFD = true

[ArcsoftAfterSaleCalibration]
    useBackUpCalibrationData = TRUE
    binCount                 = 3

[NormalNight]
    NormalNightSupported = TRUE

[FDNodeConfig]
    isDisableBokehSlavex2[42] = true

[AIAFTouch2track]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0001         #COMMON VIDEO REAR
    Mode[1]         =     0x8021;            0x0001         #60FPS VIDEO REAR
    Mode[2]         =     0x80A7;            0x0001         #EnhanceVideo VIDEO REAR
    Mode[3]         =     0x8028;            0x0001         #SUPER EIS REAR

[SuperEISConfig]
    SuperEisUseICA = FALSE

[DualSceneVideoEISConfig]
    DualSceneVideoEis = FALSE

[Video4K60FPSNodeConfig]
    supportOplusView = false

[OemMfnrConfig]
    EnablePublishMfnrInfo = true
    EnableCouplehdrAnchorSelect = true

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x800B; 0x8021; 0x8011; 0x800D; 0x1

[EEPROMRawData]
    imx471 = 3776    # imx471_p24c64e_truly_eeprom

[PinFiles]
    so[0]=/vendor/lib64/com.qti.feature2.gs.bitra.so;
    so[1]=/vendor/lib64/com.qti.feature2.anchorsync.bitra.so;
    so[2]=/vendor/lib64/com.qti.feature2.demux.bitra.so;
    so[3]=/vendor/lib64/com.qti.feature2.frameselect.bitra.so;
    so[4]=/vendor/lib64/com.qti.feature2.fusion.bitra.so;
    so[5]=/vendor/lib64/com.qti.feature2.generic.bitra.so;
    so[6]=/vendor/lib64/com.qti.feature2.hdr.bitra.so;
    so[7]=/vendor/lib64/com.qti.feature2.memcpy.bitra.so;
    so[8]=/vendor/lib64/com.qti.feature2.mfsr.bitra.so;
    so[9]=/vendor/lib64/com.qti.feature2.qcfa.bitra.so;
    so[10]=/vendor/lib64/com.qti.feature2.rawhdr.bitra.so;
    so[11]=/vendor/lib64/com.qti.feature2.rt.bitra.so;
    so[12]=/vendor/lib64/com.qti.feature2.serializer.bitra.so;
    so[13]=/vendor/lib64/com.qti.feature2.stub.bitra.so;
    so[14]=/vendor/lib64/com.qti.feature2.swmf.bitra.so;
    so[15]=/vendor/lib64/libipebpsstriping.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[17]=/vendor/lib64/libcamxifestriping.so;
    so[18]=/vendor/lib64/libcamxswprocessalgo.so;
    so[19]=/vendor/lib64/libipebpsstriping.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;

[SupportedImageSizesGSI]
#                    width  height
    ImageSizes[0]  =  4624; 3468
    ImageSizes[1]  =  4000; 3008
    ImageSizes[2]  =  4000; 3000
    ImageSizes[3]  =  3840; 2160
    ImageSizes[4]  =  3280; 2464
    ImageSizes[5]  =  3264; 2448
    ImageSizes[6]  =  3000; 3000
    ImageSizes[7]  =  3008; 3008
    ImageSizes[8]  =  2880; 2160
    ImageSizes[9]  =  2592; 1944
    ImageSizes[10] =  2328; 1748
    ImageSizes[11] =  2304; 1152
    ImageSizes[12] =  2160; 1080
    ImageSizes[13] =  1920; 1080
    ImageSizes[14] =  1600; 1200
    ImageSizes[15] =  1440; 1080
    ImageSizes[16] =  1280; 960
    ImageSizes[17] =  1280; 720
    ImageSizes[18] =  1080; 1080
    ImageSizes[19] =   720; 480
    ImageSizes[20] =   640; 640
    ImageSizes[21] =   640; 480
    ImageSizes[22] =   352; 288
    ImageSizes[23] =   320; 240
    ImageSizes[24] =   176; 144

[SupportedThumbnailSizesGSI]
#                       width  height
    ThumbnailSizes[0]  =    0; 0
    ThumbnailSizes[1]  =  176; 144
    ThumbnailSizes[2]  =  240; 120
    ThumbnailSizes[3]  =  213; 160
    ThumbnailSizes[4]  =  240; 144
    ThumbnailSizes[5]  =  256; 144
    ThumbnailSizes[6]  =  240; 160
    ThumbnailSizes[7]  =  256; 154
    ThumbnailSizes[8]  =  246; 184
    ThumbnailSizes[9]  =  250; 188
    ThumbnailSizes[10] =  352; 160
    ThumbnailSizes[11] =  240; 240
    ThumbnailSizes[12] =  320; 180
    ThumbnailSizes[13] =  400; 180
    ThumbnailSizes[14] =  320; 240

[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore
    Mode[0]      =     0x800B;              3;         0        #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;         0        #Dual VIDEO

[LSCDataConfig]
    #                        eeprom_name
    Name[0]      =        ov64b40_gt24p128c

    #                doMirrorEnable    doFlipEnable
    Config[0]    =        TRUE;           TRUE;

[OemActuatorInitCode]
    #actuator name       initcode
    ov64b_ak7375c   =   512

[ActuatorName]
    name  =   ov64b_ak7375c

[OemMediaRecorderCtsSizeMap]
    #                                   width         height
    OemMediaRecorderCtsSize[0] =        176;          144;
